* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans";
}

.container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
}
.container h1 {
  font-weight: 600;
  font-size: 30px;
}
.container form {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 80%;
}
.container form span {
  text-align: left;
  margin-bottom: 10px;
}
.container input {
  margin-bottom: 30px;
  padding: 10px;
  width: 100%;
  background-color: #efefef;
  outline: none;
  border: #cccbcb 2px solid;
  border-radius: 10px;
}

.hidden {
  display: none;
}
.display {
  display: flex;
}
